/*
 * @Description: 全局变量
 * @Author: xiaoben(xiaoben0527@qq.com)
 */
// 颜色变量
$elementPlus-admin-color-base: #515355 !default; // 基础颜色
$elementPlus-admin-color-white: #fff !default; // 白色
$elementPlus-admin-color-black: #000 !default; // 黑色
$elementPlus-admin-color-gray: #808080 !default; // 灰色
$elementPlus-admin-color-transparent: transparent !default; // 透明
$elementPlus-admin-color-placeholder: #a8abb2 !default; // 占位符

// 主题
$elementPlus-admin-color-primary: #409eff !default;
$elementPlus-admin-color-primary-light-3: lighten(
  $elementPlus-admin-color-primary,
  11.2%
) !default;
$elementPlus-admin-color-primary-light-5: lighten(
  $elementPlus-admin-color-primary,
  18.9%
) !default;
$elementPlus-admin-color-primary-light-7: lighten(
  $elementPlus-admin-color-primary,
  26.2%
) !default;
$elementPlus-admin-color-primary-light-8: lighten(
  $elementPlus-admin-color-primary,
  30%
) !default;
$elementPlus-admin-color-primary-light-9: lighten(
  $elementPlus-admin-color-primary,
  33.7%
) !default;
$elementPlus-admin-color-primary-dark-2: darken(
  $elementPlus-admin-color-primary,
  5%
) !default;

// 状态
$elementPlus-admin-color-disabled-bg: var(
  --el-disabled-bg-color
) !default; // 禁用背景
$elementPlus-admin-color-disabled-text: var(
  --el-disabled-text-color
) !default; // 禁用文本
$elementPlus-admin-color-disabled-border: var(
  --el-disabled-border-color
) !default; // 禁用边框

// 边框
$elementPlus-admin-color-border: var(--el-border-color) !default;
$elementPlus-admin-color-border-light: var(--el-border-color-lighter) !default;
$elementPlus-admin-color-border-dark: var(--el-border-color-darker) !default;

// 黑色透明
$elementPlus-admin-color-black--001: rgba(0, 0, 0, 0.01) !default;
$elementPlus-admin-color-black--002: rgba(0, 0, 0, 0.02) !default;
$elementPlus-admin-color-black--003: rgba(0, 0, 0, 0.03) !default;
$elementPlus-admin-color-black--004: rgba(0, 0, 0, 0.04) !default;
$elementPlus-admin-color-black--005: rgba(0, 0, 0, 0.05) !default;
$elementPlus-admin-color-black--006: rgba(0, 0, 0, 0.06) !default;
$elementPlus-admin-color-black--007: rgba(0, 0, 0, 0.07) !default;
$elementPlus-admin-color-black--008: rgba(0, 0, 0, 0.08) !default;
$elementPlus-admin-color-black--009: rgba(0, 0, 0, 0.09) !default;
$elementPlus-admin-color-black--01: rgba(0, 0, 0, 0.1) !default;
$elementPlus-admin-color-black--02: rgba(0, 0, 0, 0.2) !default;
$elementPlus-admin-color-black--03: rgba(0, 0, 0, 0.3) !default;
$elementPlus-admin-color-black--04: rgba(0, 0, 0, 0.4) !default;
$elementPlus-admin-color-black--05: rgba(0, 0, 0, 0.5) !default;
$elementPlus-admin-color-black--06: rgba(0, 0, 0, 0.6) !default;
$elementPlus-admin-color-black--07: rgba(0, 0, 0, 0.7) !default;
$elementPlus-admin-color-black--08: rgba(0, 0, 0, 0.8) !default;
$elementPlus-admin-color-black--09: rgba(0, 0, 0, 0.9) !default;

// 白色透明
$elementPlus-admin-color-white--001: rgba(255, 255, 255, 0.01) !default;
$elementPlus-admin-color-white--002: rgba(255, 255, 255, 0.02) !default;
$elementPlus-admin-color-white--003: rgba(255, 255, 255, 0.03) !default;
$elementPlus-admin-color-white--004: rgba(255, 255, 255, 0.04) !default;
$elementPlus-admin-color-white--005: rgba(255, 255, 255, 0.05) !default;
$elementPlus-admin-color-white--006: rgba(255, 255, 255, 0.06) !default;
$elementPlus-admin-color-white--007: rgba(255, 255, 255, 0.07) !default;
$elementPlus-admin-color-white--008: rgba(255, 255, 255, 0.08) !default;
$elementPlus-admin-color-white--009: rgba(255, 255, 255, 0.09) !default;
$elementPlus-admin-color-white--01: rgba(255, 255, 255, 0.1) !default;
$elementPlus-admin-color-white--02: rgba(255, 255, 255, 0.2) !default;
$elementPlus-admin-color-white--03: rgba(255, 255, 255, 0.3) !default;
$elementPlus-admin-color-white--04: rgba(255, 255, 255, 0.4) !default;
$elementPlus-admin-color-white--05: rgba(255, 255, 255, 0.5) !default;
$elementPlus-admin-color-white--06: rgba(255, 255, 255, 0.6) !default;
$elementPlus-admin-color-white--07: rgba(255, 255, 255, 0.7) !default;
$elementPlus-admin-color-white--08: rgba(255, 255, 255, 0.8) !default;
$elementPlus-admin-color-white--09: rgba(255, 255, 255, 0.9) !default;

/**
 * @description: 基础样式
 */
:root {
  // 前景颜色
  --elementPlus-admin-admin-color-base: #{$elementPlus-admin-color-base};
  --elementPlus-admin-admin-color-white: #{$elementPlus-admin-color-white};
  --elementPlus-admin-admin-color-black: #{$elementPlus-admin-color-black};
  --elementPlus-admin-admin-color-primary: #{$elementPlus-admin-color-primary};

  // 背景颜色
  --elementPlus-admin-admin-bg-page: #f6f6f6;

  // 字体大小
  --elementPlus-admin-admin-font-size-base: 0.875rem; // 基础字体大小

  // 字体着重
  --elementPlus-admin-admin-font-weight-base: 400;

  // family字体
  --elementPlus-admin-admin-family-base: 'Helvetica Neue', Helvetica,
    'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial,
    sans-serif;
  --elementPlus-admin-admin-family-number: SourceCodeProRegular, sans-serif;
}

/**
 * @description: 布局样式
 */
:root {
  /**
   * @description: 左则 sidebar 菜单
   */
  // 阴影颜色
  --elementPlus-admin-admin-sidebar-box-shadow-color: #{$elementPlus-admin-color-black--05}; // 菜单阴影颜色
  // 菜单宽度
  --elementPlus-admin-admin-sidebar-max-width: 13.125rem; // 菜单宽度(展开) 210px
  --elementPlus-admin-admin-sidebar-min-width: 3.375rem; // 菜单宽度(收缩) 54px
  // 一级菜单
  --elementPlus-admin-admin-sidebar-bg-img: ''; // sidebar背景图片
  --elementPlus-admin-admin-sidebar-bg-color: #2d323c; // sidebar背景颜色
  --elementPlus-admin-admin-sidebar-menu-bg-color: #2d323c; // 菜单背景颜色
  --elementPlus-admin-admin-sidebar-menu-hover-color: #262a33; // 菜单item鼠标经过背景颜色
  --elementPlus-admin-admin-sidebar-menu-text-color: #cad3e4; // 菜单默认文字颜色
  --elementPlus-admin-admin-sidebar-menu-text-active-color: #{$elementPlus-admin-color-primary}; // 菜单当前激活的文字颜色
  // 子菜单
  --elementPlus-admin-admin-sidebar-sub-menu-bg-color: #232830; // 子菜单背景颜色
  --elementPlus-admin-admin-sidebar-sub-menu-hover-color: #1b1f25; // 子级菜单item鼠标经过背景颜色
  --elementPlus-admin-admin-sidebar-sub-menu-text-active-color: #{$elementPlus-admin-color-white}; // 子级菜单激活时其父级的文本颜色
  --elementPlus-admin-admin-sidebar-sub-menu-bg-active-color: #{$elementPlus-admin-color-white--01}; // 子级菜单激活时其父级的背景颜色
  --elementPlus-admin-admin-sidebar-sub-menu-track-piece-color: #{$elementPlus-admin-color-transparent}; // 子菜单滚动条背景颜色
  --elementPlus-admin-admin-sidebar-sub-menu-thumb-color: #{$elementPlus-admin-color-white--01}; // 子菜单滚动条颜色
  // LOGO标题
  --elementPlus-admin-admin-sidebar-logo-height: 3.125rem; // LOGO标题高度 50px
  --elementPlus-admin-admin-sidebar-logo-bg-color: #{$elementPlus-admin-color-transparent}; // LOGO标题背景颜色
  --elementPlus-admin-admin-sidebar-logo-text-color: #{$elementPlus-admin-color-white}; // LOGO标题文本颜色
  --elementPlus-admin-admin-sidebar-logo-border-color: #{$elementPlus-admin-color-white--003}; // LOGO标题边框颜色

  /**
   * @description: 遮罩层
   */
  --elementPlus-admin-admin-mask-bg-color: #{$elementPlus-admin-color-black--05}; // 遮罩层背景

  /**
   * @description: 顶部导航栏
   */
  --elementPlus-admin-admin-header-height: 3.125rem; // 导航栏高度 50px
  --elementPlus-admin-admin-header-bg-color: #{$elementPlus-admin-color-white}; // 导航栏背景颜色
  --elementPlus-admin-admin-header-box-shadow-color: #{$elementPlus-admin-color-black--008}; // 导航栏阴影颜色
  --elementPlus-admin-admin-header-collapse-text-color: #{$elementPlus-admin-color-base}; // 菜单申缩图标颜色
  --elementPlus-admin-admin-header-collapse-hover-color: #{$elementPlus-admin-color-black--005}; // 菜单申缩图标背景hover颜色

  // 导航栏高度(--elementPlus-admin-admin-header-height) + 标签栏高度(--elementPlus-admin-admin-tags-height)
  --elementPlus-admin-admin-header-tags-height: 5.5625rem; // 90px

  // 用户信息
  --elementPlus-admin-admin-header-user-hover-color: #{$elementPlus-admin-color-black--005}; // 用户信息背景hover颜色
  --elementPlus-admin-admin-header-user-name-text-color: #{$elementPlus-admin-color-base}; // 用户名称颜色
  --elementPlus-admin-admin-header-user-role-text-color: #{$elementPlus-admin-color-gray}; // 用户角色名称颜色
  --elementPlus-admin-admin-header-user-icon-color: #{$elementPlus-admin-color-gray}; // 用户信息箭头图标颜色

  // 快捷功能
  --elementPlus-admin-admin-header-setting-text-color: #{$elementPlus-admin-color-gray}; // 快捷功能图标颜色
  --elementPlus-admin-admin-header-setting-text-hover-color: #{$elementPlus-admin-color-gray}; // 快捷功能图标hover颜色
  --elementPlus-admin-admin-header-setting-drawer-bg-color: #{$elementPlus-admin-color-white}; // 快捷功能抽屉背景颜色
  --elementPlus-admin-admin-header-setting-drawer-box-shadow-color: #{$elementPlus-admin-color-black--01}; // 快捷功能抽屉阴影颜色
  --elementPlus-admin-admin-header-setting-drawer-title-color: #{$elementPlus-admin-color-base}; // 快捷功能抽屉标题颜色

  /**
  * @description: 面包屑
  */
  --elementPlus-admin-admin-breadcrumb-link-color: #{$elementPlus-admin-color-base}; // 面包屑链接文本颜色
  --elementPlus-admin-admin-breadcrumb-link-hover-color: #{$elementPlus-admin-color-primary};
  --elementPlus-admin-admin-breadcrumb-separator-color: #{$elementPlus-admin-color-placeholder}; // 面包屑占位符、分隔符颜色
  --elementPlus-admin-admin-breadcrumb-text-color: #{$elementPlus-admin-color-disabled-text}; // 面包屑默认文本颜色

  /**
  * @description: 标签栏
  */
  --elementPlus-admin-admin-tags-height: 2.4375rem; // 标签栏高度 2.125rem
  --elementPlus-admin-admin-tags-bg-color: #{$elementPlus-admin-color-white}; // 标签栏背景颜色
  --elementPlus-admin-admin-tags-box-shadow-color: #{$elementPlus-admin-color-black--008}; // 标签栏阴影颜色
  // 标签列表item
  --elementPlus-admin-admin-tags-item-bg-color: #{$elementPlus-admin-color-white}; // item背景颜色
  --elementPlus-admin-admin-tags-item-bg-hover-color: #{$elementPlus-admin-color-primary-light-9}; // item hover背景颜色
  --elementPlus-admin-admin-tags-item-bg-active-color: #{$elementPlus-admin-color-primary}; // item active背景颜色
  --elementPlus-admin-admin-tags-item-border-color: #{$elementPlus-admin-color-border-light}; // item边框颜色
  --elementPlus-admin-admin-tags-item-border-hover-color: #{$elementPlus-admin-color-primary-light-7}; // item hover边框颜色
  --elementPlus-admin-admin-tags-item-border-active-color: #{$elementPlus-admin-color-primary}; // item active边框颜色
  --elementPlus-admin-admin-tags-item-text-color: #{$elementPlus-admin-color-base}; // item文本颜色
  --elementPlus-admin-admin-tags-item-text-hover-color: #{$elementPlus-admin-color-primary}; // item hover文本颜色
  --elementPlus-admin-admin-tags-item-text-active-color: #{$elementPlus-admin-color-white}; // item active文本颜色
  // 关闭按钮
  --elementPlus-admin-admin-tags-item-close-text-hover-color: #{$elementPlus-admin-color-white}; // 标签关闭按钮hover图标颜色
  --elementPlus-admin-admin-tags-item-close-bg-hover-color: #{$elementPlus-admin-color-black--03}; // 标签关闭按钮hover背景颜色
  // 右键菜单
  --elementPlus-admin-admin-tags-context-menu-bg-color: #{$elementPlus-admin-color-white}; // 右键菜单背景颜色
  --elementPlus-admin-admin-tags-context-menu-box-shadow-color: #{$elementPlus-admin-color-black--01}; // 右键菜单阴影颜色
  --elementPlus-admin-admin-tags-context-menu-text-color: #{$elementPlus-admin-color-base}; // 右键菜单文本颜色
  --elementPlus-admin-admin-tags-context-menu-text-hover-color: #{$elementPlus-admin-color-primary}; // 右键菜单hover文本颜色
  --elementPlus-admin-admin-tags-context-menu-item-hover-color: #{$elementPlus-admin-color-primary-light-9}; // 右键菜单hover item颜色
}

/**
 * @description: 登录页
 */
:root {
  --elementPlus-admin-admin-login-bg-color: #2d323c; // 登录页背景颜色
  --elementPlus-admin-admin-login-bg-img: ''; // 登录页背景图片
  --elementPlus-admin-admin-login-wrapper-width: 100%; // 登录页wrapper宽度
  --elementPlus-admin-admin-login-wrapper-max-width: 20rem; // 登录页wrapper最大宽度
  --elementPlus-admin-admin-login-wrapper-padding: 0.9375rem 0 3.125rem; // 登录页wrapper padding
  --elementPlus-admin-admin-login-form-padding: ''; // 登录页form padding
  --elementPlus-admin-admin-login-form-bg-color: #{$elementPlus-admin-color-transparent}; // 登录页form背景颜色
  --elementPlus-admin-admin-login-form-bg-img: ''; // 登录页form背景图片
  --elementPlus-admin-admin-login-form-radius: 0.25rem; // 登录页form圆角
  --elementPlus-admin-admin-login-form-box-shadow: ''; // 登录页form阴影
  --elementPlus-admin-admin-login-title-text-color: #{$elementPlus-admin-color-white}; // 登录页标题文本颜色
  --elementPlus-admin-admin-login-input-text-color: #{$elementPlus-admin-color-white--06}; // 登录页输入框文本颜色
  --elementPlus-admin-admin-login-input-bg-color: #{$elementPlus-admin-color-white--005}; // 登录页输入框背景颜色
  --elementPlus-admin-admin-login-input-border-color: #{$elementPlus-admin-color-white--02}; // 登录页输入框边框颜色
  --elementPlus-admin-admin-login-input-hover-border-color: #{$elementPlus-admin-color-white--04}; // 登录页输入框边框hover颜色
  --elementPlus-admin-admin-login-input-prefix-color: #{$elementPlus-admin-color-white--06}; // 登录页输入框前缀颜色
  --elementPlus-admin-admin-login-input-suffix-color: #{$elementPlus-admin-color-white--06}; // 登录页输入框后缀颜色
  --elementPlus-admin-admin-login-input-placeholder-color: #{$elementPlus-admin-color-white--06}; // 登录页输入框placeholder颜色
}

/**
 * @description: element-plus
 */
:root {
  --el-text-color-regular: #{$elementPlus-admin-color-base};
  --el-color-primary: #{$elementPlus-admin-color-primary};
  --el-color-primary-light-3: #{$elementPlus-admin-color-primary-light-3};
  --el-color-primary-light-5: #{$elementPlus-admin-color-primary-light-5};
  --el-color-primary-light-7: #{$elementPlus-admin-color-primary-light-7};
  --el-color-primary-light-8: #{$elementPlus-admin-color-primary-light-8};
  --el-color-primary-light-9: #{$elementPlus-admin-color-primary-light-9};
  --el-color-primary-dark-2: #{$elementPlus-admin-color-primary-dark-2};
}
