/*
 * @Description: 夜间模式主题
 * @Author: xiaoben(xiaoben0527@qq.com)
 */
@use 'element-plus/theme-chalk/src/dark/css-vars.scss';
@use '../variable' as *;

html.dark {
  color-scheme: dark;

  $elementPlus-admin-color-placeholder: #74757e;
  $elementPlus-admin-color-disabled-text: #74757e;

  --elementPlus-admin-admin-color-base: #c3c5c9;
  --elementPlus-admin-admin-bg-page: #333;

  // 一级菜单
  --elementPlus-admin-admin-sidebar-bg-img: '';
  --elementPlus-admin-admin-sidebar-bg-color: #141414;
  --elementPlus-admin-admin-sidebar-box-shadow-color: #{$elementPlus-admin-color-white--01};
  --elementPlus-admin-admin-sidebar-menu-bg-color: #141414;
  --elementPlus-admin-admin-sidebar-menu-hover-color: #{$elementPlus-admin-color-white--003};
  --elementPlus-admin-admin-sidebar-menu-text-color: #b0b8c5;
  // 子菜单
  --elementPlus-admin-admin-sidebar-sub-menu-bg-color: #0c0c0c;
  --elementPlus-admin-admin-sidebar-sub-menu-hover-color: #{$elementPlus-admin-color-white--002};

  --elementPlus-admin-admin-header-bg-color: #222;
  --elementPlus-admin-admin-header-box-shadow-color: #{$elementPlus-admin-color-white--005};
  --elementPlus-admin-admin-header-collapse-text-color: var(
    --elementPlus-admin-admin-color-base
  );
  --elementPlus-admin-admin-header-collapse-hover-color: #{$elementPlus-admin-color-white--001};

  // 标签
  --elementPlus-admin-admin-tags-bg-color: #222;
  --elementPlus-admin-admin-tags-box-shadow-color: #{$elementPlus-admin-color-white--005};

  // 标签列表item
  --elementPlus-admin-admin-tags-item-bg-color: #{$elementPlus-admin-color-white--01}; // item背景颜色
  --elementPlus-admin-admin-tags-item-bg-hover-color: #{$elementPlus-admin-color-white--03}; // item hover背景颜色
  --elementPlus-admin-admin-tags-item-border-hover-color: #{$elementPlus-admin-color-white--02}; // item hover边框颜色
  --elementPlus-admin-admin-tags-item-text-color: var(
    --elementPlus-admin-admin-color-base
  );
  --elementPlus-admin-admin-tags-item-text-hover-color: #{$elementPlus-admin-color-white};

  // 快捷功能
  --elementPlus-admin-admin-header-setting-text-color: var(
    --elementPlus-admin-admin-color-base
  );
  --elementPlus-admin-admin-header-setting-text-hover-color: var(
    --elementPlus-admin-admin-color-base
  );
  --elementPlus-admin-admin-header-setting-drawer-bg-color: #222;
  --elementPlus-admin-admin-header-setting-drawer-box-shadow-color: #{$elementPlus-admin-color-white--01};
  --elementPlus-admin-admin-header-setting-drawer-title-color: var(
    --elementPlus-admin-admin-color-base
  );

  // 面包屑
  --elementPlus-admin-admin-breadcrumb-link-color: var(
    --elementPlus-admin-admin-color-base
  );
  --elementPlus-admin-admin-breadcrumb-separator-color: #{$elementPlus-admin-color-placeholder};
  --elementPlus-admin-admin-breadcrumb-text-color: #{$elementPlus-admin-color-disabled-text};

  // 用户信息
  --elementPlus-admin-admin-header-user-hover-color: #{$elementPlus-admin-color-white--005};
  --elementPlus-admin-admin-header-user-name-text-color: var(
    --elementPlus-admin-admin-color-base
  );

  // 遮罩层背景
  --elementPlus-admin-admin-mask-bg-color: #{$elementPlus-admin-color-white--01};

  /**
  * @description: 演示样式
  * @return {*}
  */
  --demo-table-header-bg-color: #333;
}
